{% extends 'base.html.twig' %}

{#    {% form_theme formNewForum 'bootstrap_4_layout.html.twig'  %} #}



{% block body %}

<h1>
Modifier le forum : {{Forum.ForumName}} </h1>
<h6><a href="/forum">{{Forum.category.CatName}}</a>  <a href="{{ path('view_forum', {'CatName' : Forum.category.CatName, 'CatId' : Forum.category.id, 'id' : Forum.id} ) }}">{{Forum.ForumName}}</a>
<br>
<br>

{{ form_start(ForumForm) }}

    <div>
    <label for=""><h4>Catégorie</h4></label>
    {{ form_widget(ForumForm.category) }}
    </div>
    <br>
    <div>
    <label for=""><h4>Titre du forum</h4></label>
    {{ form_widget(ForumForm.ForumName, {'attr' : {'placeholder' : "Ecrivez le titre..." }}) }}
    </div>
    <br>
    <div>
    <label for=""><h4>Description du forum</h4></label>
    {{ form_widget(ForumForm.ForumDescription, {'attr' : {'placeholder' : "Ecrivez la description..." }}) }}

<button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

{{ form_end(ForumForm) }}
{% endblock body %}